<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <div align="center">
    <h1>View Users</h1>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      
        <% users.map((val)=>{ %>
            <tr>
              <td><%=val.id%></td>
              <td><%=val.name%></td>
              <td><%=val.email%></td>
              <td><%=val.password%></td>
              <td>
                <a href="/deleteuser?id=<%=val.id%>">Delete</a> || 
                <a href="/edituser?id=<%= val.id%>">Edit</a>
              </td>

            </tr>
       <% }) %>
     
    </tbody>
  </table>
<hr>
<a href="/addusers">Add Users</a>
  </div>

</body>
</html>