<%-include('header')%>

<style>
  .modal {
  max-width: 400px;   /* modal ki width fix */
  padding: 20px;
}
</style>

<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Basic Table</h4>
              <p class="card-description"> Add class <code>.table</code>
              </p>

              <!-- form -->

              <form action="/admin/table" method="get" >
                <input type="search" name="search" id="">
                <button>search</button>
              </form>


              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Profile</th>
                      <th>Name.</th>
                      <th>Email</th>
                      <th>City</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <%data.map((v)=>{%>
                    <tr>
                      <td>
                        <img src="../uploads/<%=v.profile%>" width="30px" height="30px" style="border-radius: 50%;"
                          alt="">
                      </td>
                      <td>
                        <%=v.name%>
                      </td>
                      <td>
                        <%=v.email%>
                      </td>
                      <td>
                        <%=v.city%>
                      </td>
                      <td>
                        <a href="/admin/delete/<%=v.id%>">Delete</a> ||
                        <a href="/admin/edit/<%=v.id%>">Edit</a> ||
                        <a href="#ex1" rel="modal:open" onclick="viewSingle('<%=v.id%>')">View</a>
                      </td>
                    </tr>
                    <%})%>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- <div id="ex1" class="model">
      <p>Name :- <span id="adminName"></span></p>
      <a href="#" rel="modal:close">Close</a>
    </div> -->

    

    <!-- content-wrapper ends -->

    <%-include('footer')%>
      <!-- partial:../../partials/_footer.html -->

      <div id="ex1" class="modal" style="color : black">
  <p>Thanks for clicking. That felt good.</p>
  <a href="#" rel="modal:close">Close</a>
</div>

      <script>
        const viewSingle = (id) => {
          // alert(id);
          $.ajax({
            url: '/admin/viewSingle/' + id,
            method: 'get',
            success: (res) => {
              // console.log(res);

              if (res.status == 'success') {
                console.log(res.data)
                // const data = res.data
                // console.log(data.name);
                console.log(document.getElementById("adminName"))
                // document.getElementById("adminName").innerHTML = res.data.name
                $("#adminName").html(res.data.name)
              }
            }
          })
        }
      </script>